@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto:wght@400;700&display=swap');

$primary-color:#9896d6;
$secondary-color:#5a5c81;
$tertiary-color:#282736;

$black:#000000;
$white:#ece8f5;
$transparent: hsla(0, 0%, 0%, 0.3);
$font-title: "Roboto", helvetica, arial, sans-serif;
$font-description: "Belanosima", helvetica, arial, sans-serif;
